include ../partials/header.pug
h1 Qui prend quoi ?
section
    form(method="post" action="/party").newParty
        h3 Créer un événement
        div.newParty__fields
            //label(for="name") Nom de l'événement
            input(name="name" id="name" required minlength="3" placeholder="Nouvel an" )
            //label(for="date") Date de l'évènement
            input(name="date" id="date" type="date" minlength="5" placeholder="31.12.2020")
            //label(for="author") Auteur de l'évènement
            input(name="author" id="author" required minlength="2" placeholder="Ben")
            button(type="submit") Créer
