include ../partials/header.pug
h1 Quiprendquoi ?
section
    form(method="post" action="/party").newParty
        h3.create Créer un événement
        div.newParty__fields
            //label(for="name") Nom de l'événement
            input(name="name" id="name" required minlength="3" placeholder="Son nom" )
            //label(for="date") Date de l'évènement
            input(name="date" id="date" type="date" minlength="5" placeholder="Sa l'évènement")
            //label(for="author") Auteur de l'évènement
            input(name="author" id="author" required minlength="2" placeholder="Votre nom")
            button(type="submit") Créer
