@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import "../variables/colors.scss";

section {
  background-color: $white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  width: 80vw;
  max-width: 600px;
  margin: auto;
  background-color: $white;
  border: 2px solid $backgroundColor;
  box-shadow: 2px 2px 1px $backgroundColor;
  border-radius: .5rem;

  header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    width: 55vw;

    h1 {
        font-size : 26px;
        font-weight : bold;
        font-family: 'Pacifico', cursive;
        color: $strongColor;
    }

    h2 {
      font-size: 18px;
      padding: 20px;
    }

    label {
      font-size: 14px;
      color: $strongColor;
      font-weight: bold;
      max-width: 400px;
      width: 55vw;
    }

    .link {
      display: flex;
      flex-direction: row;
      max-width: 400px;

      input, button {
        place-self: center;
        display: block;
        margin: .5rem 0 1rem 0;
        max-width: 400px;
        height: 5vh;
        background-color: $white;
      }

      input {
        width: 47vw;
        padding: 0 2vw;
        box-shadow: 2px 2px 1px $backgroundColor;
        border: 2px solid $backgroundColor;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
      }

      button {
        color: $white;
        width: 8vw;
        background: $backgroundColor;
        box-shadow: 2px 2px 1px $backgroundColor;
        border: 2px solid $backgroundColor;
        transition: 300ms ease-in-out;
        cursor: pointer;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;

        .fa.fa-clipboard {
          color: white;
        }

        &:active {
          background: $backgroundColor;
          border: $backgroundColor;
        }

        &:focus {
          background: $backgroundColor;
          color: $backgroundColor;
          font-weight: bold;
        }
      }
    }
  }

  .list {
    width: 55vw;
    max-width: 400px;

    h3 {
      font-size: 14px;
      color: $strongColor;
      font-weight: bold;
    }

    li {
      max-width: 400px;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $backgroundColor;
      justify-content: space-between;
      margin: 5px;

      h4 {
        color: $strongColor;
      }

      button {
        display: block;
        place-self: center;
        font-size: 12px;
        color: $white;
        border: 2px solid $backgroundColor;
        padding: .3rem .7rem;
        cursor: pointer;
        transition: 300ms ease-in-out;
        background-color: $backgroundColor;
        border-radius: .5rem;
      }
    }
  }

  .newParty {
    max-width: 90%;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 14px;
      font-weight: bold;
      color: $strongColor;
      max-width: 400px;
      width: 55vw;
    }
    .newParty__fields {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      input {
        padding: 0 3vw;
        margin: .5rem 0 1rem 0;
        width: 55vw;
        max-width: 400px;
        height: 5vh;
        border: 2px solid $backgroundColor;
        box-shadow: 2px 2px 1px $backgroundColor;
        transition: 300ms ease-in-out;
        cursor: pointer;
        background-color: $white;
        border-radius: .5rem;

        &:focus {
          height: 6vh;
          font-size: 12px;
        }
      }

      button {
        display: block;
        place-self: center;
        font-size: 12px;
        width: 20vw;
        border: 2px solid $backgroundColor;
        padding: .3rem .7rem;
        cursor: pointer;
        transition: 300ms ease-in-out;
        background-color: $backgroundColor;
        color: $white;
        border-radius: .5rem;

        &:hover {
          background: $strongColor;
          color: $white;
        }

      }
    }
  }

}

@media (min-width: 600px){
  section {
    border: none;
    box-shadow: none;
  }
}


