@import "vendors/reset";
@import "config/media";
@import "blocs/newParty";
@import "blocs/form";

body {
  font-size: 10px;
  font-family: sans-serif;
  color: $strongColor;
  background: $white;
  display: flex;
  justify-content: center;
}

@media (min-width: 600px){
  body {
    background: $backgroundColor;
  }
}
