@import "vendors/reset";
@import "config/media";
@import "blocs/newParty";
@import "blocs/form";

body {
  font-size: 10px;
  font-family: sans-serif;
  text-align: center;
  font-size: 2em;
  color: $strongColor;
  background: $backgroundColor;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: 'Pacifico', cursive;
    margin: 3vh;
    font-size: 40px;
  }
}

@media (min-width: 600px){
  body {
    background: $backgroundColor;
  }
}
